h2{
	margin-top: 10vh;
	text-decoration: underline;
}

h1, h2, h3, .image-holder{
	text-align: center;
}

h1, h2, h3, p{
	font-family: "Roboto";
	text-shadow: 0px 8px 13px rgba(0,0,0,0.1);
}

#master-container{
	background-color: white;
}

a{
	color: black;
}

img{
	border: 3px solid black;
}

body{
	align-content: center;
}

.form-group{
	width: 75%;
	margin-left: 15px;
}

#contact-button{
	margin-left: 15px;
}

p{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*Slim screen width for large screens */
@media (min-width: 991px) {
	#master-container{
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}
}